body {
  font-family: Montserrat;
}

h1 {
  color: #F5F5F5;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

h2 {
  color: #F5F5F5;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 300;
}

#title {
  background-color: #ff4c68;
  height: 50rem;
}

.container-fluid {
  padding: 1.5% 15%;
}

.fa-brands {
  padding-right: 0.75rem;
}

.brand-text {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.nav-item {
  padding-right: 4rem;
}

.title-image {
  margin-top: 5rem;
  height: 60%;
  transform: rotate(20deg);
}

.download-btn {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.features-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.feature-icons {
  color: #EF8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #FF4D69;
}

.feature-paragraph {
  color: #928C7E;
}

#testimonials {
  background-color: #EF8172;
  padding: 7% 15%;
  text-align: center;
  color: #F5F5F5;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 2rem;
}

#press {
  background-color: #EF8172;
  text-align: center;
}

.press-logo {
  width: 15rem;
  padding: 0 2rem 2rem 2rem;
}

@media (max-width:1100px) {
  .title-image {
    display: none;
  }
}
